<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
  [ngbCollapse]="!sidebarVisibile"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <div
        *ngFor="let voceMenu of vociMenu"
        [ngSwitch]="voceMenu.tipo"
        class="nav-item"
      >
        <li *ngSwitchCase="'link'">
          <a class="nav-link" aria-current="page" href="#">
            <fa-icon [icon]="voceMenu.icona" [fixedWidth]="true"></fa-icon>
            {{ voceMenu.i18n | translate }}
          </a>
        </li>
        <h6
          *ngSwitchCase="'sezione'"
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>{{ voceMenu.i18n | translate }}</span>
        </h6>
      </div>
    </ul>
  </div>
</nav>
